.gestion-categoria-titulo { 
  font-family: 'Times New Roman', serif;
  color: #000; 
  text-align: center; 
  margin-bottom: 1rem; 
  padding: 0 15px; 
  margin-top: 10% !important; 
}

/* Bot칩n agregar */ 
.mb-3.btn { 
  width: auto; 
  max-width: 300px; 
  margin: 0 0 1rem 0 !important; 
  padding: 8px 56px; 
  font-size: 0.95rem; 
  display: inline-block; 
}

@media (max-width: 768px) {
   .gestion-categoria-titulo { 
    font-size: 1.3rem; 
    margin-top: 5rem !important; 
  } 
  
  .mb-3.btn { 
    width: 90% !important; 
    margin: 0 auto 1rem auto !important; 
    padding: 12px 20px; 
    display: block; }
}

/* Bot칩n Agregar Categor칤a */
.btn-agregar-categoria {
  background-color: #EC5B92;
  border-color: #EC5B92;
  color: #fff;
  font-family: 'Times New Roman', serif;;
  box-shadow: 0 4px 10px rgba(236, 91, 146, 0.4);
  transition: all 0.3s ease;
}

.btn-agregar-categoria:hover {
  background-color: #d94b7f; /* rosa m치s oscuro */
  border-color: #d94b7f;
  box-shadow: 0 6px 14px rgba(217, 75, 127, 0.6);
  transform: translateY(-1px);
}

.btn-agregar-categoria:active {
  transform: translateY(0);
  box-shadow: 0 3px 8px rgba(217, 75, 127, 0.4);
}

.btn-agregar-categoria:focus {
  box-shadow: 0 0 0 0.25rem rgba(236, 91, 146, 0.4);
}


.table {
  width: 100%;
  min-width: 700px;
  table-layout: fixed; /* 游 evita expansi칩n */
  border-collapse: collapse;
  border: 1px solid #dee2e6;
}

.table th {
  background-color: #EC5B92;
  font-family: 'Times New Roman', serif;
  color: #fff;
  text-align: center;
  padding: 15px 8px;
  white-space: nowrap;
  border: 1px solid #dee2e6;
}


.table td {
  border: 1px solid #dee2e6;
  padding: 12px 8px;
  font-size: 0.9rem;
  vertical-align: middle;
  text-align: center;
  background-color: #fff;
  font-family: 'Times New Roman', serif;
}


.table th:nth-child(1),
.table td:nth-child(1) { width: 90px; }

.table th:nth-child(2),
.table td:nth-child(2) { width: 180px; }

.table th:nth-child(3),
.table td:nth-child(3) { width: 260px; }

.table th:nth-child(4),
.table td:nth-child(4) { width: 140px; }

/*DESCRIPCI칍N */
.descripcion-td {
  position: relative;
  text-align: left;
}

.descripcion-cell {
  width: 100%;
  overflow: hidden;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  line-height: 1.4;
  max-height: calc(1.4em * 2);

  word-break: break-word;
}


.ver-mas-btn {
  position: absolute;
  bottom: 2px;
  right: 4px;

  padding: 0;
  font-size: 0.7rem;
  background: none;
  border: none;
  color: #EC5B92;
  text-decoration: underline;
  cursor: pointer;
}


.table img.thumbnail {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
}


.btn-outline-warning,
.btn-outline-danger {
  padding: 4px 8px;
  font-size: 0.8rem;
  margin: 0 2px;
}

@media (max-width: 768px) {
  .table {
    min-width: 600px;
  }

  .descripcion-cell {
    font-size: 0.85rem;
  }
}
