@font-face {
  font-family: 'Times New Roman';
  src: url('../utils/fonts/Times New Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Times New Roman Bold';
  src: url('../utils/fonts/Times New Roman - Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Times New Roman Italic';
  src: url('../utils/fonts/Times New Roman - Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Times New Roman Bold Italic';
  src: url('../utils/fonts/Times New Roman - Bold Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}